NODE_ENV=development
PORT=5011
BASE_URL=http://localhost:5011/
SWAGGER_HOST=localhost:5011
CLIENT_URL=http://localhost:5173

SITE_NAME=FoodOrder

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=food_order_system
DB_NAME_TEST=food_order_system_test
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=2df1kNnfKnXK0Ks-8NNJZUNB_VE
JWT_EXPIRE_IN=72h