# Dependencies
/node_modules

# All package json
package-lock.json

# Environment variables
.env

# yarn error logs
yarn-error.log
yarn.lock

# VS code setting
.vscode

# logs
/src/logs/*.log
/src/logs

# uploads
/public/uploads

# build
/dist
/codebase-api
.scannerwork/